<div class="container text-center font-weight-bold bg-light">
  <div class="row border">
    <div class="col-2">
      {{carData?.make}}
    </div>
    <div class="col-3">
      {{carData?.model}}
    </div>
    <div class="col-1">
      {{carData?.year}}
    </div>
    <div class="col-2">
        <img src="{{carData?.imageUrl}}" [style.width.px]='carImageWidth' class="img img-fluid img-thumbnail">
    </div>
    <div class="col-2">
      <button class="btn btn-danger m-4" (click)="deleteCar(carData?.id)">Delete Car</button>
    </div>
  </div>
</div>
